DATABASE_URL="postgresql://<user>:<password>@<neon-host>/<db>?sslmode=require" 
PORT=4000 
NODE_ENV=development 
BARRIERX_BASE_URL="https://dummy-barrierx-api.com" 

ELEVENLABS_KEY=""
ELEVENLABS_PRE_AGENT_ID=""
ELEVENLABS_POST_AGENT_ID=""
ELEVENLABS_PHONE_NUMBER_ID=""
ELEVENLABS_WEBHOOK_SECRET=""